.textsection-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-section-title {
    align-self: flex-start;
}

.text-section-subtitle {
    align-self: flex-start;
    margin-top: 40px;
    margin-bottom: 20px;
}

.text-area {
    width: 1000px;
    height: 250px;
    resize: none;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
    color: var(--text);
    font-family: "Ubuntu", sans-serif;
    background-color: var(--lightdarkblue);
}

.text-area:focus {
    outline: none;
}

.genera-button {
    cursor: pointer;
    background-color: var(--lightdarkblue);
    border: 1px solid var(--lightdarkblue);
    width: 230px;
    height: 40px;
    margin-top: 30px;
    align-self: flex-end;
    border-radius: 10px;
    color: var(--logo);
    font-size: 15px;
}

.genera-button-non-disponibile {
    pointer-events: none;
    background-color: var(--notselectedtext);
    border: 1px solid var(--lightdarkblue);
    width: 230px;
    height: 40px;
    margin-top: 30px;
    align-self: flex-end;
    border-radius: 10px;
    color: var(--section-background);
    font-size: 15px;
}

.parole-custom-container {
    width: 1000px;
    height: 250px;
    resize: none;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
    color: var(--text);
    font-family: "Ubuntu", sans-serif;
    background-color: var(--lightdarkblue);
    margin-bottom: 40px;
}

.player-audio-generato {
    align-self: flex-start;
}