
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--borders);
    backdrop-filter: blur(10px);
    background-color: #000000b9;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.navbar ul li{
    margin: 20px;
    list-style: none;
}

.nav-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 200px; 
    font-size: 25px;  

}
.nav-mini-logo{
    color: var(--logo);
}

.logout-conteiner{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logout-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  background-color: var(--lightdarkblue);
}

.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 15px;
}

.sign svg path {
  fill: #008cff;
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: #008cff;
  font-size: 1.1em;
  font-weight: 600;
  transition-duration: .3s;
}

.logout-button:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.logout-button:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}

.logout-button:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}

.logout-button:active {
  transform: translate(2px ,2px);
}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    cursor: pointer;
    font-size: 18px;
    color: var(--notselectedtext);
}

.link.active{
   color: var(--text);
}

.link:hover{
    color: var(--text);
    transition-duration: 0.3s;
}