.login-container {
    border-radius: 16px;
    padding: 40px 35px;
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.logo-text {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 5px;
    color:rgb(96,191,152);
}

.login-text {
    font-size: 0.95rem;
    font-weight: 400;
    color: rgb(114,125,124);
    margin-bottom: 15px;
}

.input-field {
    border: none;
    border-bottom: 1px solid rgb(176,202,196);
    background-color: transparent;
    padding: 12px;
    font-size: 0.95rem;
    color: rgb(96,191,152);
    outline: none;
    transition: all 0.25s ease;
}

.input-field::placeholder {
    color: #9aa0a6;
}

.input-field:focus {
    border: none;
    border-bottom: 1px solid rgb(96,191,152);
}

.button {
    background-color: transparent;
    border: 1px solid rgb(96,191,152);
    border-radius: 10px;
    padding: 12px;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(96,191,152);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: rgb(96,191,152);
    border: 1px solid rgb(96,191,152);
    color:rgb(5,14,14);
}

.footer-text {
    font-size: 0.85rem;
    text-align: center;
    color: rgb(114,125,124);
}

.t2s-mini-logo {
    color: rgb(96,191,152);
}