.dashboard-container {
    display: flex;
    flex-direction: column;
    background-color: var(--section-background);
    width: 100vw;
    height: 100vh;
    align-items: center;
    overflow-y:scroll;
    scroll-behavior: smooth;
}

.section-one {
    margin-top: var(--navbar-height);
    width: 90%;         
    height: auto;
    max-height: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
